node_modules
.DS_Store
dist*
dist-ssr
*.local
.eslintcache
.stylelintcache
src/assets/sprites/*.*
!src/assets/sprites/.gitkeep
public/icons
/.idea
src/types/auto-imports.d.ts
src/types/components.d.ts
src/types/components.d.ts
src/types/auto-imports.d.ts
